宿題８
ユニオン使う

例）
select * from city
where XXX
union
select * from city
where YYY

In [2]:
import sqlite3
import pandas as pd
con = sqlite3.connect("sakila.db")

In [14]:
sql_query = '''select city from city where city = "Abha" union select city from city where city_id = 4'''

In [15]:
df = pd.read_sql(sql_query, con)

df

   city
0  Abha
1  Acua