In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect("sakila.db")

In [18]:
sql_query = ''' SELECT first_name, last_name, email, create_date, customer.last_update FROM customer JOIN address ON customer.address_id = address.address_id JOIN city ON address.city_id = city.city_id WHERE city = "Acua" '''

In [19]:
df = pd.read_sql(sql_query, con)

df

,first_name,last_name,email,create_date,last_update
0,GLEN,TALBERT,GLEN.TALBERT@sakilacustomer.org,2006-02-14 22:04:37.000,2011-09-14 18:10:42